{% extends 'baseLogReg.html.twig' %}


{% block formRegLog %}

{% if error %}
	<div class="alert alert-warning fade show">
	<center>{{ error.messageKey|trans(error.messageData, 'security') }}</center>
	</div>
{% endif %}

	<form method="post" class="m-t" role="form">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="form-group">
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
		</div>
		<div class="form-group">
			<input type="password" name="password" id="inputPassword" class="form-control" required>
		</div>
		<input type="hidden" name="_csrf_token"
			   value="{{ csrf_token('authenticate') }}"
		>
		<button type="submit" class="btn btn-orange block full-width m-b pull-right">Me connecter</button>
	</form>
{% endblock %}
