{% extends 'base.html.twig' %}

{% block title %}Hello RaidWowController!{% endblock %}

{% block body %}
    <div id="content" class="content">
        {{ dump(raiderio_profile) }}
        {{ dump(raiderio_affixes) }}
    </div>
{% endblock %}
