{% extends 'baseConfirm.html.twig' %}
{% block title %} EasyBac.fr - Récupération de compte{% endblock %}
{% block mainContaint %}

 <!-- begin login-content -->
			<div class="login-content">
				<div class="alert alert-warning fade show">
  				<center><strong>Vérification...</strong>
  				 Si cette adresse email existe vous recevrez un mail dans les prochaines minutes pour réactiver votre compte.</center>
				</div>
			</div>
			<!-- end login-content -->
			</div> 
{% endblock %}
