{% extends 'baseConfirm.html.twig' %}
{% block title %} EasyBac.fr - Récupération de compte{% endblock %}
{% block mainContaint %}

 <!-- begin login-content -->

			
			<div class="login-content">
				{{ form_start(form) }}
					<div class="form-group m-b-20">
							{{ form_row(form.email, {'email': 'Votre adresse email'}) }}		
						<button type="submit" class="btn btn-warning btn-block btn-lg">Récupérer mon compte</button>
					</div>
				{{ form_end(form) }}
			</div>
			<!-- end login-content -->
			</div> 
{% endblock %}
