{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!-- begin #content -->
		<div id="content" class="content">
		</div>
		<!-- end #content -->
{% endblock %}
{% block javascripts %}
{% endblock %}