{% extends 'baseConfirm.html.twig' %}
{% block title %}EasyBac.fr - Vérification du compte{% endblock %}
{% block mainContaint %}

 <div class="login-content">
				<div class="alert alert-danger fade show">
  				<center><strong>Echec !</strong>
  				 Votre lien n'a pas été reconnu.</center>
			</div>


			<center><a class="btn btn-warning" href="{{ path('dashboard') }}" role="button" >Accès à EasyBac</button></a></center>
			</div> 
{% endblock %}
